*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to left, rgba(135, 135, 49, 0.598), rgb(235, 166, 39), rgb(105, 105, 216));
}

.container {
    width: 50%;
    /* max-width: 340px; */
    margin: 10em auto;
    text-align: center;
}

h2 {
    padding: 1.2em 0;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    border-top: 5px solid rgb(84, 81, 81);
    border-bottom: 5px solid rgb(84, 81, 81);
}

.clock {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 2em;
    gap: 1em;

}

span {
    background: slateblue;
    opacity: 0.8;
    color: #fff;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    padding: 0.2em;
    font-size: 5rem;
    display: flex;
}

.text {
    background-color: darkblue;
    opacity: 0.8;
    font-size: 2rem;
}

.ampm-text {
    border-radius: 5px;
    padding: 1.1em;
}
