@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #F1f5f8;
}

.nav-center {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    box-shadow: 0 1px 5px;
    font-size: 1.4rem;
    background-color: white;
    color: hsl(0, 1%, 46%);
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 4px;
}

h4 {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 600;
}

.type {
    border: 2px solid hsl(0, 1%, 46%);
    margin: 5px;
}

.nav-links{
    display: flex;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    padding: 10px 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    margin: 200px;
}

h2 {
    background-color: black;
    color: white;
    border: 30px solid black;
    border-radius: 10px;
    letter-spacing: 4px;
    font-size: 2rem;
}

.container button {
    padding: 15px 32px;
    font-size: 20px;
    margin: 20px;
    background-color: transparent;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}
